<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-lazy-init="true">
	<!-- 统一开发环境数据库 -->

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">

		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="jdbcUrl" value="jdbc:oracle:thin:@192.25.103.49:1521:afadev"></property>
		<property name="user" value="crmii"></property>
		<property name="password" value="cfpt2011"></property>

		<!-- 详细参数说明参见database-config.properties -->
		<property name="initialPoolSize" value="10"></property>
		<property name="minPoolSize" value="5"></property>
		<property name="maxPoolSize" value="300"></property>
<!-- 		##每60秒检查所有连接池中的空闲连接。Default: 0 -->
<!-- 		<property name="maxIdleTime" value="60"></property> -->
<!-- 		<property name="acquireIncrement" value="5"></property> -->
<!-- 		<property name="idleConnectionTestPeriod" value="60"></property> -->
<!-- 		##定义在从数据库获取新连接失败后重复尝试的次数。Default: 30  -->
<!-- 		<property name="acquireRetryAttempts" value="20"></property> -->
<!-- 		##获取连接失败将会引起所有等待连接池来获取连接的线程抛出异常。但是数据源仍有效 -->
<!-- ##保留，并在下次调用getConnection()的时候继续尝试获取连接。如果设为true，那么在尝试 -->
<!-- ##获取连接失败后该数据源将申明已断开并永久关闭。Default: false -->
<!-- 		<property name="breakAfterAcquireFailure" value="true"></property> -->
<!-- 		##JDBC的标准参数，用以控制数据源内加载的PreparedStatements数量。但由于预缓存的statements -->
<!-- ##属于单个connection而不是整个连接池。所以设置这个参数需要考虑到多方面的因素。 -->
<!-- ##如果maxStatements与maxStatementsPerConnection均为0，则缓存被关闭。Default: 0 -->
<!-- 		<property name="maxStatements" value="0"></property> -->
<!-- 		<property name="testConnectionOnCheckout" value="false"></property> -->
	</bean>
</beans>